.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
 
.tarjeta.color
  background-color: #DEE4F0
  
.img-infografica-b__modal
  background-color: #DEE4F0

.img-infografica-b__modal__contenido
  color: #12263F

.bloque-texto-a
  background-color: #F2F5F8
  //height: 409px

.bloque-texto-e
  background-color: #F2F5F8

.bloque-texto-f
  background-color: #DCEEEC
  height: 360px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)